h1{
    color: aquamarine;
}

body {
    background-color:rgb(156, 33, 33);

}
hr{
    
    width: 5%;
    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    border-style: none;
    
}
